:root {
    --thumb-colour: rgb(0, 145, 255);
    --sf-colour: rgb(255, 80, 80);
    --label-text-size: 6px;
    --ticknumber-text-size: 6px;
    --t: translateY(50px);
    --h: 100px;
}
html {
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    overflow:hidden;
    margin:0px;
}

input {
    display: block;
    width: 100%;
}

svg {
    z-index: 1;
    pointer-events: none;
    user-select: none;
    width:100%;
    height:auto;
}

svg path {
    stroke: inherit;
    stroke-dasharray: inherit;
    stroke-width: inherit;
}

datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    writing-mode: vertical-lr;
    width: 100%;
}

#numberlines {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75%;
}

#layered {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow:hidden;    
}

input[type="range"] {
    touch-action: none;
}

/*some of the following is to defeat default input range styles in different browsers */

.range_overlay {
    position: absolute;
    display: block;
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
    width: auto;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 0px;
    width: 101%;
}

.range_overlay::-webkit-slider-thumb {
    -webkit-appearance:none;
    height: var(--h);
    transform: var(--t);
    width: 1.5%;
    cursor: pointer;
    margin-top: 0px;
    pointer-events: auto !important;
    /* background-color: seagreen; */

}

.range_overlay::-moz-range-thumb {
    height: var(--h);
    transform: var(--t);
    width: 1.5%;
    cursor: pointer;
    margin-top: 0px;
    border-radius: 0px;
    border:none;
    pointer-events: auto !important;
    background: none;
}

.range_overlay::-ms-thumb {
    height: var(--h);
    transform: var(--t);
    width: 1.5%;
    cursor: pointer;
    margin-top: 0px;
    pointer-events: auto !important;

}

.range_overlay:focus {
    outline:none;
}

.range_overlay::-ms-track {
    width: 100%;
    cursor: pointer;
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
}

.range_overlay::-webkit-slider-runnable-track {
    pointer-events: none;

}

.range_overlay::-moz-range-track {
    pointer-events: none;

}

.ticknumber {
    font-size: var(--ticknumber-text-size);
    fill: black;
    stroke: none;
    text-anchor:middle;
}

#svg_axes {
    stroke-width: 0.75px;
}

text {
    user-select: none;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
}

#tickmark {
    stroke-width: 0.5px;
}

.indicator_zero {
    stroke: rgb(180, 180, 180);
    stroke-dasharray: 1;
    stroke-width: 0.5px;
}

.indicator_scale {
    stroke: var(--sf-colour);
    stroke-width: 0.5px;
}

.indicator_eqn {
    stroke: var(--thumb-colour);
    stroke-width: 1px;
}

#labels {
    font-size: var(--label-text-size);
    text-anchor: middle;
    text-align: center;
}

#label_slider {
    fill: var(--thumb-colour);
}

#label_scale {
    fill: var(--sf-colour);
}

.noshow {
    display: none;
}

.zoomButton {
    display: none;
}